/* Esercizione 1 */
.ex-1-square {
    transition: all 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Esercizione 2 */
.ex-2-square {
    transition: all 2s;
}

.ex-2-square:active {
    width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
    transition: all 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
    transition: all 1s;
}

.ex-4-square:hover {
    background-color: transparent;
}

/* Esercizio 5 */
.ex-5-square {
    transition: all 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
    transition: all 2s;
}

.ex-7-img:hover {
    filter: grayscale(1);
    filter: sepia(50%);
}

/* Esercizio 8 */
.ex-8-img {
    transition: all 2s;
}

.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(70%);
    filter: sepia(70%);
}

/* Esercizio 9 */
.ex-9-img {
    transition: all 2s;
}

.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(70%);
    filter: sepia(70%);
    transform: scale(1.5);
}

/* Esercizio 10 */
.ex-10-icon {
    animation-name: loop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; 
}

@keyframes loop {
    0% {
        transform: rotate(360deg);
    }

    25% {
        transform: rotate(270deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Esercizio 11 */
.ex-11-icon:hover {
    animation-name: cycling;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes cycling {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(90deg);
    }

    60% {
        transform: rotate(180deg);
    }

    90% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
    animation-name: chasing-top;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: chasing-bottom;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes chasing-top {
    0% {
        top: -10px;
        left: 10%
    }

    50% {
        top: -10px;
        left: calc(100% - 60px);
    } 
}

@keyframes chasing-bottom {
    0% {
        bottom: -10px;
        right: 20%
    }

    50% {
        bottom: -10px;
        right: calc(100% - 60px);
    } 
}

/* Esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
    animation-name: chasing-complete-top;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: chasing-complete-bottom;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes chasing-complete-top {
    0% {
        top: -10px;
        left: 10%;
    }

    30% {
        top: -10px;
        left: calc(100% - 30px);  
    }

    45% {
        top: calc(100% - 10px);
        left: calc(100% - 30px);      
    }

    75% {
        top: calc(100% - 10px);
        left: -30px; 
    }

    90% {
        top: -10px;
        left: -30px;;
    }

    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes chasing-complete-bottom {
    0% {
        bottom: -10px;
        right: 10%;
    }

    30% {
        bottom: -10px;
        right: calc(100% - 30px);  
    }

    45% {
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);      
    }

    75% {
        bottom: calc(100% - 10px);
        right: -30px; 
    }

    90% {
        bottom: -10px;
        right: -30px;;
    }

    100% {
        bottom: -10px;
        right: 10%;
    }
}
   













